.breadcumb-area.discover-area
  .container.h-100
    .row.h-100.align-items-end
      .col-12
        .breadcumb--con
          h2.title Discover
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='#')
                  i.fa.fa-venus-mars
                  |  Men
              li.breadcrumb-item 18 - 22
              li.breadcrumb-item Option 1     
              li.breadcrumb-item.active(aria-current='page') Option 2        
              li.setting-item
                a#btn-setting-item(href='')
                  i.fa.fa-cogs
                  |  Setting
section.mona-projects-area.section-padding-80-0.mb-50#discover-list
  #loading-views.container.text-center
    .lds-dual-ring
  .container
    .row.mona-portfolio#discover-users-list
      // Single Projects Item
      .col-12.col-sm-6.col-lg-3.single_gallery_item.mb-30
        .single-project-area.discover-box.img-255-255
          .hover-content.d-flex.align-items-center
            .hover-text.lds-heart
      // Single Projects Item
      .col-12.col-sm-6.col-lg-3.single_gallery_item.mb-30
        .single-project-area.discover-box.img-255-255
          .hover-content.d-flex.align-items-center
            .hover-text
      // Single Projects Item
      .col-12.col-sm-6.col-lg-3.single_gallery_item.mb-30
        .single-project-area.discover-box.img-255-525
          .hover-content.d-flex.align-items-center
            .hover-text
      // Single Projects Item
      .col-12.col-sm-6.col-lg-3.single_gallery_item.mb-30
        .single-project-area.discover-box.img-255-525
          .hover-content.d-flex.align-items-center
            .hover-text
      // Single Projects Item
      .col-12.col-sm-6.col-lg-6.single_gallery_item.mb-30
        .single-project-area.discover-box.img-540-240
          .hover-content.d-flex.align-items-center
            .hover-text
      // Single Projects Item
      .col-12.col-sm-6.col-lg-3.single_gallery_item.mb-30
        .single-project-area.discover-box.img-255-525
          .hover-content.d-flex.align-items-center
            .hover-text
      // Single Projects Item
      .col-12.col-sm-6.col-lg-3.single_gallery_item.mb-30
        .single-project-area.discover-box.img-255-525
          .hover-content.d-flex.align-items-center
            .hover-text
      // Single Projects Item
      .col-12.col-sm-6.col-lg-3.single_gallery_item.mb-30
        .single-project-area.discover-box.img-255-255
          .hover-content.d-flex.align-items-center
            .hover-text
      // Single Projects Item
      .col-12.col-sm-6.col-lg-3.single_gallery_item.mb-30
        .single-project-area.discover-box.img-255-255
          .hover-content.d-flex.align-items-center
            .hover-text
      // Single Projects Item
      .col-12.col-sm-6.col-lg-6.single_gallery_item.mb-30
        .single-project-area.discover-box.img-540-240
          .hover-content.d-flex.align-items-center
            .hover-text
