.modal#profile-modal(tabindex='-1', role='dialog')
  #profile-modal(role='dialog')
  .modal-large
    // Modal content
    .modal-content#profile-modal-content
      .modal-header
        h5.modal-title Profile
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .row
          .col-sm-9
            .media
              .media-left
                img#profile-avatar.media-object(src='', style='width: 128px; height: 128px; border-radius: 50%;')
                input(type='file', style='display: none;')
                h3#profile-modal-nickname.media-heading
                p#profile-modal-username.media-heading
              .media-body#user-profile
                //- h1 a
                //- p#profile-gender
          .col-sm-3.text-right
            button.btn.btn-pink(onclick="updateProfile('tester')") Edit profile
            br
            small#alert-profile-action.text-success
          .col-sm-8
            hr
            h4 Something
            .panel.panel-default
              .panel-body
                p Hello people! Hola!!!
                | Implement later
              .panel-footer
                #bottom
          .col-sm-4
            hr
            h4 List Friends
            ul#lisfriends
