script(src='/static/js/jquery.min.js')
script(src='/static/js/popper.min.js')
script(src='/static/js/bootstrap.min.js')
script(src='/static/js/mona.bundle.js')
script(src='/static/js/default-assets/active.js')
