section.welcome-area
  // Welcome Slides
  .welcome-slides.owl-carousel
    // Single Welcome Slide
    .single-welcome-slide
      // Background Curve
      .bg-curve(style='background-image: url(./static/img/core-img/curve.png);')
      // Welcome Text
      .container.h-100
        .row.h-100.align-items-center
          .col-12
            .welcome-text
              h2(data-animation='bounceInUp', data-delay='400ms')
                | Easy 
                br
                | Dating
              h5(data-animation='bounceInUp', data-delay='600ms') Love and Life
              a.btn.btn-discover(href='#', data-animation='bounceInUp', data-delay='800ms')
                | Discover Now
                i.arrow_right
      .social-info
        a(href='#', data-animation='bounceInDown', data-delay='1000ms')
          i.fa.fa-facebook
          span Dating app
        a(href='#', data-animation='bounceInDown', data-delay='1100ms')
          i.fa.fa-twitter
          span Dating app
        a(href='#', data-animation='bounceInDown', data-delay='1200ms')
          i.fa.fa-instagram
          span Dating app
        a(href='#', data-animation='bounceInDown', data-delay='1300ms')
          i.fa.fa-youtube-play
          span Dating app
      .slide-pager
        a(href='#') >
    // Single Welcome Slide
    .single-welcome-slide
      // Background Curve
      .bg-curve(style='background-image: url(./static/img/core-img/curve.png);')
      // Welcome Text
      .container.h-100
        .row.h-100.align-items-center
          .col-12
            .welcome-text
              h2(data-animation='bounceInUp', data-delay='400ms')
                | Easy 
                br
                | Dating
              h5(data-animation='bounceInUp', data-delay='600ms') Love and Life
              a.btn.btn-discover(href='', data-animation='bounceInUp', data-delay='800ms')
                | Discover Now
                i.arrow_right
      .social-info
        a(href='#', data-animation='bounceInDown', data-delay='1000ms')
          i.fa.fa-facebook
          span Dating app
        a(href='#', data-animation='bounceInDown', data-delay='1100ms')
          i.fa.fa-twitter
          span Dating app
        a(href='#', data-animation='bounceInDown', data-delay='1200ms')
          i.fa.fa-instagram
          span Dating app
        a(href='#', data-animation='bounceInDown', data-delay='1300ms')
          i.fa.fa-youtube-play
          span Dating app
      .slide-pager
        a(href='#') >
